<%= form_for(@activity_tracker) do |f| %>
    <div class="field">
        <%= f.label "Challenge" %>
        <%= f.collection_select(:challenge_id, Challenge.all, :id, :name) %>
        <br>
        <br>
        <br>
        <%= f.label :sunday_reps %>
        <%= f.number_field :sunday_reps %>
        <br>
        <%= f.label :monday_reps %>
        <%= f.number_field :monday_reps %>
        <br>
        <%= f.label :tuesday_reps %>
        <%= f.number_field :tuesday_reps %>
        <br>
        <%= f.label :wednesday_reps %>
        <%= f.number_field :wednesday_reps %>
        <br>
        <%= f.label :thursday_reps %>
        <%= f.number_field :thursday_reps %>
        <br>
        <%= f.label :friday_reps %>
        <%= f.number_field :friday_reps %>
        <br>
        <%= f.label :saturday_reps %>
        <%= f.number_field :saturday_reps %>
        <br>

    </div>
    <br>
    <br>
    <div class="actions">
        <%= f.submit %>
    </div>
<% end %>